# dataset: images - labels
dataset
source_dataset
output_dataset
Liu_DeepFashion_Powering_Robust_CVPR_2016_paper.pdf

# logs
logs
*.log
*.pyc
.ipynb_checkpoints
data/
__pycache__/
checkpoints/
*.pth
*.jpg
*.png
venv/
.idea/
wandb/
results